# --- Database Configuration ---
# Example: PostgreSQL database connection for local development
DATASOURCE_URL=jdbc:postgresql://localhost:localhost_port/your_local_db_name
DATASOURCE_USERNAME=your_db_username
DATASOURCE_PASSWORD=your_secure_db_password_here

# --- SMTP (Email Sending) Configuration ---
MAIL_HOST=your-mail-provider.com # e.g., smtp.gmail.com
MAIL_PORT=smtp_port
MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password

EMAIL_SENDER=noreply@yourdomain.com
# -- smtp or aws-ses
EMAIL_DELIVERY_METHOD=smtp

# --- Cloudinary (Image/Asset Management) Configuration ---
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret