spring:
  application:
    name: evynt-space
    base-url: ${APP_BASE_URL}
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari: # HikariCP Connection Pool (Spring Boot's default)
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000 # Max wait for connection (ms)
      idle-timeout: 600000 # Max idle time (ms)
      max-lifetime: 1800000 # Max connection lifetime (ms)
  jpa: # JPA/Hibernate Properties
    properties:
      hibernate:
#        jdbc:
#          lob:
#            non_contextual_creation: true
        #format_sql: true # Format SQL queries for readability
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #show-sql: true # Show SQL queries in the console

  # --- Flyway Configuration ---
  flyway:
    enabled: true
    # url: jdbc:postgresql://localhost:5432/evyntspace
    # user: postgres
    # newPassword: postgres
    # Default location, uncomment and change if your scripts are elsewhere
    # locations: classpath:/db/migration
    # Change the name of the Flyway schema history table (default: flyway_schema_history)
    # table: schema_history
    # Recommended for existing databases without Flyway history
    baseline-on-migrate: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

notification:
  email:
    sender: ${EMAIL_SENDER}
    delivery-method: ${EMAIL_DELIVERY_METHOD}
  #Other types of notification can go here

  outbox:
    processing-batch-size: 100       # How many messages to fetch at once for processing
    processing-cron-expression: "0 * * * * *" # Every minute (for example)
    max-retry-attempts: 3            # Max retries before permanent failure
    initial-retry-interval-minutes: 1 # Initial delay for first retry
    retry-interval-factor: 2         # Factor to increase delay (e.g., exponential backoff: 1min, 2min, 4min, 8min)

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
  folder-prefix: es-uploads
  default-event-img: https://res.cloudinary.com/drbloq03w/image/upload/v1750084712/es-uploads/mew89uk7esiiklyjzjvl.jpg
  default-user-img: https://res.cloudinary.com/drbloq03w/image/upload/v1750592867/es-uploads/lczaaf0wrm27dbgun05m.jpg

stripe:
  api:
    secret-key: ${STRIPE_API_SECRET_KEY}
  webhook:
    secret: ${STRIPE_WEBHOOK_SECRET}
    connect-secret: ${STRIPE_CONNECT_WEBHOOK_SECRET}

platform-fee-percentage: ${PLATFORM_FEE_PERCENTAGE:10}

app:
  frontend:
    url: ${APP_FRONTEND_END}

auth:
  code-validity: ${CODE_VALIDITY_MINUTES}
  session-validity: ${SESSION_VALIDITY_MINUTES}
  secret: ${JWT_SECRET}
  access-token-validity: ${ACCESS_TOKEN_VALIDITY_MINUTES}
  refresh-token-validity: ${REFRESH_TOKEN_VALIDITY_MINUTES}
  password-reset-token-validity: ${PASSWORD_RESET_TOKEN_VALIDITY_MINUTES}